@model Brisk.Models.ViewModels.FavViewModel

@{
    ViewData["Title"] = "Favorites";
    // TODO: Implement update and delete actions on this view
}

@for (int i = 0; i < Model.Locations.Count; i++)
{
    <img src="@Model.Reports[i].Icon" style="float: left;" />
    <strong>@Model.Locations[i].Name</strong><br />
    @Model.Reports[i].CurrentTemp<span>ºF,</span> @Model.Reports[i].Description<br />
    <span>Humidity: </span>@Model.Reports[i].Humidity<span>%</span>
    <br /><br />

    @using (Html.BeginForm("Forecast", "Home", "POST"))
    {
        <input type="hidden" name="lat" value="@Model.Reports[i].Latitude" />
        <input type="hidden" name="lon" value="@Model.Reports[i].Longtitude" />
        <button type="submit">Get 5-Day Forecast</button>
    }
    <br /><br />
}

<p><strong>Add a favorite location:</strong></p>
@using (Html.BeginForm("CreateFavorite", "Home", "POST"))
{
    <input type="number" id="locationZip" value="" name="zip" max="99999" placeholder="Enter Zip Code" /> <br />
    <input type="text" id="locationName" value="" name="name" placeholder="Enter Label (e.g. Home)" /><br />
    <button type="submit">ADD</button>
}