@model Brisk.Models.ViewModels.FavViewModel

@{
    ViewData["Title"] = "Favorites";
}

@using (Html.BeginForm("CreateFavorite", "Home", "POST"))
{
<input type="number" id="locationZip" value="" name="zip" max="99999" placeholder="Enter Zip Code" />
<input type="text" id="locationName" value="" name="name" placeholder="Enter Label (e.g. Home)" />
<button type="submit">ADD</button>
}

<br /><br />

@for (int i = 0; i < Model.Locations.Count; i++)
{
    <strong>@Model.Locations[i].Name</strong>
    <img src="@Model.Reports[i].Icon" />
    <ul>
        <li>@Model.Reports[i].City (@Model.Locations[i].Zip)</li>
        <li>Current Temp: @Model.Reports[i].CurrentTemp<span>ºF</span></li>
        <li>Humidity: @Model.Reports[i].Humidity<span>%</span></li>
        <li>Description: @Model.Reports[i].Description</li>
        <li>Code: @Model.Reports[i].WeatherCode</li>
    </ul>
}   