@model Brisk.Models.ViewModels.ForecastViewModel
@{
    ViewData["Title"] = "Forecast";
}

<strong>@Model.FiveDay.City</strong>
<br /><br />

@for (int i = 0; i < Model.FiveDay.Reports.Count; i++)
{
    @if (i == 0 || (i > 0 && Model.FiveDay.Reports[i].DateTime.Date != Model.FiveDay.Reports[i - 1].DateTime.Date))
    {
        <hr />
        <strong>@Model.FiveDay.Reports[i].DateTime.ToShortDateString() (@Model.FiveDay.Reports[i].DateTime.DayOfWeek)</strong><br /><br />
    }
    
    <img src="@Model.FiveDay.Reports[i].Icon" style="float: left"/>

    var hour = Convert.ToInt32(@Model.FiveDay.Reports[i].DateTime.TimeOfDay.ToString().Split(":")[0]);
    var timeDisplay = "";

    if (hour == 0)
    {
        timeDisplay = "Midnight";
    }
    else if (hour > 0 && hour < 12)
    {
        timeDisplay = hour + "am";
    }
    else if (hour == 12)
    {
        timeDisplay = "Noon";
    }
    else
    {
        timeDisplay = (hour - 12) + "pm";
    }

    <div>
        @timeDisplay - @Model.FiveDay.Reports[i].CurrentTemp<span>ºF</span>
    </div>

    <br /><br />
}

