@model Brisk.Models.ViewModels.SearchViewModel

@{
    ViewData["Title"] = "Local";
}

<img src="@Model.Current.Icon" style="float: left;" />
<strong>@Model.Current.City</strong><br />
@Model.Current.CurrentTemp<span>ºF,</span> @Model.Current.Description<br />
Humidity: @Model.Current.Humidity<span>%</span>
<br /><br />

@using (Html.BeginForm("Forecast", "Home", "POST"))
{
    <input type="hidden" name="lat" value="@Model.Current.Latitude" />
    <input type="hidden" name="lon" value="@Model.Current.Longtitude" />
    <button type="submit">Get 5-Day Forecast</button>
}