@model Brisk.Models.ViewModels.SearchViewModel

@{
    ViewData["Title"] = "Local";
}

<strong>@Model.Current.City</strong>
<img src="@Model.Current.Icon" />
<ul>
    <li>Current Temp: @Model.Current.CurrentTemp<span>ºF</span></li>
    <li>Humidity: @Model.Current.Humidity<span>%</span></li>
    <li>Description: @Model.Current.Description</li>
    <li>Code: @Model.Current.WeatherCode</li>
</ul>

@using (Html.BeginForm("Forecast", "Home", "POST"))
{
    <input type="hidden" name="lat" value="@Model.Current.Latitude" />
    <input type="hidden" name="lon" value="@Model.Current.Longtitude" />
    <button type="submit">Get 5-Day Forecast</button>
}